<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-2">
     <p>ジャンル検索</p>
    </div>
    <div class="col-md-8 col-12 mt-5">
      <% @notes.each do |note|%>
        <%= note.title %>
        <%= note.introduction %>
      <% end %>

      <h1 class="jquery">Hello jQuery!</h1>

      <p>人生に役立つ情報をまとめるサイト</p>
      <p>wikipediaみたいな感じ</p>
      <p>ジャンル別に分ける</p>
      <p>検索機能つける</p>
      <p>ジャンル検索もつける</p>
      <p>vue.js react あたり使う</p>
      <p>検索は非同期で何件あるか分かるようにしたい</p>
      <p>情報源のリンク先貼れるようにする</p>
      <p>タイトル、本文（複数追加できるようにする）</p>
      <p>聖杯レイアウト、左側にジャンル検索、ヘッダーに検索バー、右側に何かしら</p>
      <p>ジャンルごとに何件か表示させる（ジャンル検索）</p>
      <p>DB:ジャンル（name）、本文（title,introduction,参考文献）</p>
    </div>
    <div class="col-md-2">
      <h3>世界の天気</h3>
      <label>都市名：</label>
      <input id="cityname" type="text" size="14" maxlength="14" placeholder="Tokyo">
      <button id="btn">検索</button><br>
      <span>場所 :</span>
      <span id="place"></span><br>
      <span>最高気温 :</span>
      <span id="temp_max"></span>
      <span> ℃</span><br>
      <span>最低気温 :</span>
      <span id="temp_min"></span>
      <span> ℃</span><br>
      <span>湿度 :</span>
      <span id="humidity"></span>
      <span> %</span><br>
      <span>風速 :</span>
      <span id="speed"></span>
      <span> m/s</span><br>
      <span>天気 :</span>
      <span id="weather"></span>
      <div id="icon"><img id="img"></div>
      <script src="jquery.min.js"></script>
      <script src="script.js"></script>
    </div>
  </div>
</div>